:root{
    --blue: #369DBA;
    --white: #ffffff;
    --black: #231E1E;
    --gray:#EEEEEE;
    --font60:60px;
    --font45:45px;
    --font30:30px;
    --font20:20px;
    --font18:18px;
    --pad100:100px;
    --pad60:60px;
    --pad50:50px;
    --pad30:30px;
}

img{ max-width: 100%;}
.button{ display: inline; color: var(--white); padding: 10px 30px; background-color: var(--blue); text-decoration: none;}